* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #f1f1f1;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #000000;

}

/* ------------------------------------------------------------------HEADER----------------------------------------------------------- */

header {
  display: flex;
}

#content {
  height: 100vh;
  width: 80%;
  overflow-y: scroll;
}

#content::-webkit-scrollbar {
  display: none;
}

#logo {
  background-color: #000000;
}



/* -----------------------------------------------------------------nav bar------------------------------------------------------------ */

#menu {
  margin: 10px 15px;
  padding: 0px 10px;
  height: 40px;
  color: white;
  background-color: #000000cc;
  border-radius: 5px;
  z-index: 7;
}

a,
ul,
span {
  text-decoration: none;
  list-style: none;
  padding: 20px;
}

.links {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 500px;
}

nav {
  color: #b2ebf2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #050505;
  position: fixed;
  z-index: 15;
}

ul {
  position: absolute;
  color: #f8f9fa;
  background: #f8f9fa;
  margin-top: 16px;
  font-size: 1.5rem;
  visibility: hidden;
  border-radius: 6px;
  box-shadow: 0px 0px 5px black;
}

nav>.links>span:hover ul {
  visibility: visible;
  z-index: 1;
}

li {
  padding: 2px;
  width: 100%;
  margin-left: 5px;
}

#span1>ul>li>a,
#span2>ul>li>a {
  color: #00000088;
}

li:nth-child(3) {
  border-bottom: none;
}

.links>span:nth-child(2)>ul>li {
  border: none;
}

hr {
  margin-left: 10px;
}

.fa-solid:hover {
  cursor: pointer;
}



/* ------------------------------------------------------FORM SECTION-------------------------------------------------------- */

.form-container {
  background-color: #000000af;
  padding: 10px;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
}

.form-group button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.form-group button:hover {
  background-color: #0056b3;
}

.form-group .forgot-password {
  font-size: 14px;
  text-align: right;
}

.form-group .signup-link {
  font-size: 14px;
  text-align: center;
}


/* ------------------------------------------------------------SIDE-BAR---------------------------------------------------------------------- */

#main {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: scroll;
  position: fixed;
}

#events {
  margin-top: 100px;
}

#sidebar {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

#admin-logo {
  width: 100%;
  padding: 5px;
  color: #fff;
}

#sidebar>button {
  border-radius: 0;
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(245, 245, 245);
  padding: 31.5px;
  display: flex;
  font-size: 1.2rem;
  gap: 10px;
  align-items: center;
}

#sidebar>button:hover {
  background: linear-gradient(rgba(109, 104, 196, 0.792) 0%, rgb(49, 49, 211) 35%, rgba(0, 212, 255, 1) 100%);
  color: #000;
}



/* ---------------------------------------------------------CONTENT-CARD-DASHBOARD-------------------------------------------------- */

#dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 80px;
}

#cardcntr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.997); */
}

#dashboard>.card>.div {
  display: flex;
}

.card>.content {
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  color: #000000;
}

h4 {
  text-align: center;
  padding: 10px;
}

.col-sm-4 {
  display: flex;
  align-items: center;
  color: #4CAF50;
}

span>.end {
  text-align: center;
  padding: 10px;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: space-between;
  padding: 10px;
  gap: 20px;
}

.end {
  font-weight: bold;
}

/*------ DASHBOARD CHARTS ------*/

#charts {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
  /* box-shadow: 0 0 10px rgba(41, 41, 41, 0.997); */
}


#chart1,
#chart2 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.997);
  border-radius: 10px;
}

/*------- DASHBOARD TABLE ---------*/

#tablecntr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f1f1f1;
  gap: 10px;
}

#table1,
#table2 {
  padding: 20px;
  background-color: white;
  width: 47%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.997);

}
table {
  width: 100%;
  color: #212529;
  background-color: #fafafa;
}

th {
  padding: 10px;
  border-top: 2px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
}

tr,
td {
  border-top: 1px solid #dee2e6;
  padding: 10px 5px;
}
.text-right {
  text-align: right;
}

/*------ FOOTER CARD CONTENT------ */

#footer-card{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 50px;
  gap: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.997); */
}

.text-center>i{
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.content1{
  width: 20%;
  text-align: center;
  padding: 40px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.997);
}

.text-muted{
  font-weight: bold;
}



/* -----------------------------------------------------------POPUP-CARD-FORMS---------------------------------------------------------------------- */

#form {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 60px;
  z-index: 6;
}


form {
  height: 300px;
  width: 500px;
  position: absolute;
  color: #fff;
  top: 35%;
  left: 35%;
  padding: 10px;
  padding-top: 15px;
  z-index: 9;
  font-size: 15px;
  border-radius: 10px;
  background-color: #000000;
}

.form-inner-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 25px;
}

.form-inner-div>label {
  padding: 10px;
}

.form-inner-div>input {
  background-color: #37405f;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.form-internal-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form>input {
  width: 100%;
}

#form-submit {
  background-color: #4c00ffb4;
  border: none;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
}

#background-blur {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  z-index: 8;
}

#thin-black-sheet {
  z-index: 7;
  background-color: #000000;
  opacity: 0.55;
  height: 100%;
  width: 100%;
}




/*-------------------------------------------------------------------- CHART SECTION -----------------------------------------------------------*/

#chart {
  margin-top: 80px;
  gap: 100px;
}

#chart>#chartctnr {
  width: 100%;
}

#chartctnr {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}


#chartctnr>div {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.997);
}

/*----------------------------------------------------------------- AUTHENTICATION SECTION -----------------------------------------------------*/

.auth-container {
  padding: 20px;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-weight: bold;
  padding: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
}

.input-group input:focus {
  outline: none;
  border-color: #ffffff;
}

.input-group input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#btn{
  padding: 5px;
  background-color: #2ec4ffd7;
}

/*------------------------------------------------------------------------ CALANDER ------------------------------------------------------------*/

#calendercntr {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

#events > h2 {
  line-height: 50px;
  text-align: center;
}